body {
    margin: 0;
    padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

.header nav {
   display: flex;
   align-items: center;
}

.header nav form {
  padding: 0.5rem;
}

.header a {
   padding: 10px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

form {
   padding: 1rem;
}

form label {
   display: inline-block;
   padding: 0.8rem 0.4rem;
}

form input {
   padding: 0.5rem 1rem;
}

form input[type=submit] {
   padding: 0.75rem 1.5rem;
   font-size: 1.1em;
   margin-top: 1rem;
   background: #3C59FF;
   color: #FFF;
   border-radius: 5px;
}

.error {
   font-size: 1.5em;
   color: red;
   padding: 1rem;
   text-align: center;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}